<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="metro" content="page de calcul du metro">
        <title>MAAIN</title>
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <a href="/" class="navbar-brand">MAAIN search engine !</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <div class="hero-content">
                <h2>Brainiac</h2>
                <p>Moteur de recherche MAAIN</p>
            </div>
        </section>
        <main>
            <div class="container">
                <div class="jumbotron text-center">
                    <form action="/" method="post">
                        <p>
                            <label for="search">Barre de recherche : </label>
                            <input type="text" name="search" id="search" autofocus />
                        </p>
                        <p><input type="submit" class="btn btn-lg btn-primary"/></p>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            Moteur produit par Aouessar Oussama, Melila Lilya & Medjadi Ilyesse. Copyright &copy; 2020
        </footer>
    </body>
</html>