<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="metro" content="page de calcul du metro">
        <title>Métro</title>
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <a href="/" class="navbar-brand">Calcul du trajet de métro</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <div class="hero-content">
                <h2>Bienvenue sur le site de calcul du trajet du métro</h2>
                <p>Vous avez ici la possibilité de voir quel est le meilleur trajet à choisir entre 2 stations</p>
            </div>
        </section>
        <main>
            <div class="container">
                <div class="jumbotron text-center">
                    <p>
                        <img src="img/ico_l1.png" alt="ligne1" />
                        <img src="img/ico_l2.png" alt="ligne2" />
                        <img src="img/ico_l3.png" alt="ligne3" />
                        <img src="img/ico_l3b.png" alt="ligne3b" />
                        <img src="img/ico_l4.png" alt="ligne4" />
                        <img src="img/ico_l5.png" alt="ligne5" />
                        <img src="img/ico_l6.png" alt="ligne6" />
                        <img src="img/ico_l7.png" alt="ligne7" />
                        <img src="img/ico_l7b.png" alt="ligne7b" />
                        <img src="img/ico_l8.png" alt="ligne8" />
                        <img src="img/ico_l9.png" alt="ligne9" />
                        <img src="img/ico_l10.png" alt="ligne10" />
                        <img src="img/ico_l11.png" alt="ligne11" />
                        <img src="img/ico_l12.png" alt="ligne12" />
                        <img src="img/ico_l13.png" alt="ligne13" />
                        <img src="img/ico_l14.png" alt="ligne14" />
                    </p>
                        <form action="/" method="post">
                        <p>
                            <label for="depart">Station de départ: </label>
                            <input type="text" name="depart" id="depart" autofocus />
                            <label for="arrive">Station d'arrivée: </label>
                            <input type="text" name="arrive" id="arrive" />
                            <label for="time">A quelle heure comptez-vous partir: </label>
                            <input type="text" name="heure" id="heure" maxlength="2" /> h 
                            <input type="text" name="minute" id="minute" maxlength="2" /> min
                        </p>
                        <p><input type="submit" class="btn btn-lg btn-primary"/></p>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            Site produit par Mike AREZES. Copyright &copy; 2017
        </footer>
    </body>
</html>